#ignore user specific info
# reseources/resume_prompt.txt
# resources/config.yaml

# Ignore environment variables and credentials
resources/.env

# Ignore virtual environment folder (if you created one)
venv/

# Ignore log files
logs/application_log.txt
unanswered_questions.log

# Ignore system files
*.pyc
__pycache__/
